.footer-container {
    text-align: center;
    padding: 9px;
    background-color: #181819;
}

.footer-container p {
    color: #ffffff;
    font-size: 14px;
}

.footer-container p a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-container p a:hover {
    text-decoration: underline;
}